body  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-image: url("../images/berry.jpg");/* body css*/
}

*{
    margin: 0;
    padding: 0;
    font-size: 100%;
}/* margin padding and font size adjusted*/

.wrapper{
    margin: 2% 20%;
    min-width: 1000px;
    max-width: 1000px;
    padding: 1%;
    background-image: linear-gradient(#ffffff 10%, #fdf7e8 70%, #ffffff 100%);
    border: 1px solid #009926;
    border-radius: 5px;
    box-shadow: 0px 0px 50px #008020;
}/*class css adjusted margin*/

header{
    border-bottom: 1px solid #e8b417;
    height: 140px;
}/*border bottom and height adjusted*/

footer{
    border-top: 1px solid #e8b417;
    clear: right;
}


p,h2,ul>h3,ul>p,li{
    margin-top: 20px;
}/*margin top spacing adjusting*/


main ul li img{
    border: 1px solid #e8b417;
    box-shadow: 0px 0px 10px #ecc03b;
    border-radius: 10px;
}

main ul li p{
    margin-top: 0%;
}

aside{
    float: left;
    width: 300px;
    margin-top: 10px;
}/*aside  float width margin adjusted*/

aside h3{
    font-size: 125%;
    color: #d1a215;
}

aside ul li a{
    font-style: italic;
    font-size: 90%;
}

aside ul{
    margin-left: 10px;
    margin-right: 10px;
}

a {
	color: #008020; 
}

a:link, a:visited { 
	text-decoration: none; 
}

a:hover, a:focus { 
    text-decoration: underline; 
}

/* Header */
header img { 
	float: left; 
} 

header div#header-line-1 {
	font-size: 230%;
	font-weight: bold;
	font-style: italic;
	color: #ecc03b;
	text-indent: 25px;
	text-shadow: 2px 2px 2px black;
}

header div#header-line-2 {
	font-size: 130%;
	font-weight: bold;
	color: #008020;
	text-indent: 75px;
}

/* Main */
main {
	float: right;
    width: 638px;
    padding-bottom: 20px;
    border-left: 1px solid #e8b417;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

main h1 { 
	margin: 0;
	font-size: 200%;
}

main h1:first-letter { 
	font-size: 240%;
}

main h2 {
	font-size: 125%;
}

main h3 {
	
	font-size: 110%;
}
main ul#product-categories {
	list-style-type: none;
}

/* Footer */
footer p {
	font-size: 80%;
	text-align: center;
}